<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>DebugLogVerboseLevel</key>
	<string>10</string>
	
	<key>DebugIdentifiers</key>
	<array>
		<string>GEZJob</string>
		<string>GEZGrid</string>
		<string>GEZServer</string>
		<string>GEZServerListController</string>
		<string>GEZServerConnection</string>
		<string>XGSServerBrowser</string>
		<string>GridStufferAppDelegate</string>
	</array>

	<key>NoDebugIdentifiers</key>
	<array>
		<string>GEZMetaJob</string>
		<string>GEZMetaJobArrayController</string>
		<string>XGSTaskSource</string>

		<string>GEZIntegerArray</string>
		<string>XGSInputInterface</string>
		<string>XGSOutputInterface</string>
		<string>XGSParser</string>
	</array>

</dict>
</plist>
