<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>AutosaveIntervalInSeconds</key>
	<string>60</string>

	<key>EnableDebugMenu</key>
	<true/>

	<key>DebugLogVerboseLevel</key>
	<string>12</string>

	<key>DebugIdentifiers</key>
	<array>
		<string>GEZProxy</string>
		<string>GEZMetaJob</string>
		<string>GEZJob</string>
		<string>GridStufferAppDelegate</string>
	</array>

	<key>NoDebugIdentifiers</key>
	<array>
		<string>GEZGrid</string>
		<string>GEZManager</string>
	</array>

</dict>
</plist>
