<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>Name</key>
		<string>1 long task</string>
		<key>Description</key>
		<string>1 task with one long sleep</string>
		<key>Path</key>
		<string>~/Desktop/gridstuffer_demo0</string>
		<key>Commands</key>
		<string>commands_demo0.txt</string>
		<key>Files</key>
		<array>
			<string>demo0.pl</string>
		</array>
	</dict>

	<dict>
		<key>Name</key>
		<string>1 script - 2 files</string>
		<key>Description</key>
		<string>1 dummy perl script printing its argument and 2 very informative text files sometimes there, sometimes not...</string>
		<key>Path</key>
		<string>~/Desktop/gridstuffer_demo1</string>
		<key>Commands</key>
		<string>commands_demo1.txt</string>
		<key>Files</key>
		<array>
			<string>demo1.pl</string>
			<string>file1.txt</string>
			<string>file2.txt</string>
		</array>
	</dict>

	<dict>
		<key>Name</key>
		<string>Calendar 2000-2005</string>
		<key>Description</key>
		<string>Call to /usr/bin/cal for all the months from january 2000 to december 2005</string>
		<key>Path</key>
		<string>~/Desktop/gridstuffer_demo2</string>
		<key>Commands</key>
		<string>commands_demo2.txt</string>
		<key>Files</key>
		<array>
		</array>
	</dict>
	
	<dict>
		<key>Name</key>
		<string>Testing -so -se and -out</string>
		<key>Description</key>
		<string>A perl script creates some stdout, some stderr and some files, all saved in costum locations</string>
		<key>Path</key>
		<string>~/Desktop/gridstuffer_demo3</string>
		<key>Commands</key>
		<string>commands_demo3.txt</string>
		<key>Files</key>
		<array>
			<string>demo3.pl</string>
		</array>
	</dict>

	<dict>
		<key>Name</key>
		<string>Testing -si</string>
		<key>Description</key>
		<string>A perl script takes the stdin and removes the string passed as arguments from it</string>
		<key>Path</key>
		<string>~/Desktop/gridstuffer_demo4</string>
		<key>Commands</key>
		<string>commands_demo4.txt</string>
		<key>Files</key>
		<array>
			<string>demo4.pl</string>
			<string>stdin41.txt</string>
			<string>stdin42.txt</string>
			<string>stdin43.txt</string>
			<string>stdin44.txt</string>
		</array>
	</dict>

	<dict>
		<key>Name</key>
		<string>Testing failed jobs</string>
		<key>Description</key>
		<string>One of the task runs a program that crashes</string>
		<key>Path</key>
		<string>~/Desktop/gridstuffer_demo5</string>
		<key>Commands</key>
		<string>commands_demo5.txt</string>
		<key>Files</key>
		<array>
			<string>demo5.pl</string>
		</array>
	</dict>

	<dict>
		<key>Name</key>
		<string>Testing -in</string>
		<key>Description</key>
		<string>Testing the -in flag to check that the working directory does load</string>
		<key>Path</key>
		<string>~/Desktop/gridstuffer_demo6</string>
		<key>Commands</key>
		<string>commands_demo6.txt</string>
		<key>Files</key>
		<array>
			<string>demo6.pl</string>
			<string>workingdir/demo6_file1.txt</string>
			<string>workingdir/demo6_file2.txt</string>
		</array>
	</dict>

</array>
</plist>
